In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
titanic = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")
df = pd.DataFrame(titanic)
df
test_df = pd.DataFrame(test)
test_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [3]:
df = df.dropna()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [4]:
df = df.drop(["Embarked", "Ticket", "Name", "Cabin"], axis = 1)
# Fill missing numeric columns with median
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    df[col] = df[col].fillna(df[col].median())

# Fill missing categorical columns with mode
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna(df[col].mode()[0])

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df["Sex"] = le.fit_transform(df["Sex"])

In [6]:
df

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1              2         1       1    0  38.0      1      0  71.2833
3              4         1       1    0  35.0      1      0  53.1000
6              7         0       1    1  54.0      0      0  51.8625
10            11         1       3    0   4.0      1      1  16.7000
11            12         1       1    0  58.0      0      0  26.5500
..           ...       ...     ...  ...   ...    ...    ...      ...
871          872         1       1    0  47.0      1      1  52.5542
872          873         0       1    1  33.0      0      0   5.0000
879          880         1       1    0  56.0      0      1  83.1583
887          888         1       1    0  19.0      0      0  30.0000
889          890         1       1    1  26.0      0      0  30.0000

[183 rows x 8 columns]

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

target = ['Survived']
X = df.drop(columns=target)
y = df[target].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

print(tn, fp, fn, tp)

precision = (tp)/(tp+fp)
recall = (tp)/(tp+fn)
f1 = 2*precision*recall/(precision+recall)

print(precision)
print(recall)
print(f1)

0.7297297297297297
9 5 5 18
0.782608695652174
0.782608695652174
0.782608695652174

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

target = ['Survived']
X = df.drop(columns=target)
y = df[target].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = DecisionTreeClassifier(class_weight = "balanced")
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

print(tn, fp, fn, tp)

precision = (tp)/(tp+fp)
recall = (tp)/(tp+fn)
f1 = 2*precision*recall/(precision+recall)

print(precision)
print(recall)
print(f1)

0.7837837837837838
9 5 3 20
0.8
0.8695652173913043
0.8333333333333333

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

target = ['Survived']
X = df.drop(columns=target)
y = df[target].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = RandomForestClassifier(n_estimators = 100, max_depth = 8, random_state = 42,class_weight = "balanced")
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

print(tn, fp, fn, tp)

precision = (tp)/(tp+fp)
recall = (tp)/(tp+fn)
f1 = 2*precision*recall/(precision+recall)

print(precision)
print(recall)
print(f1)

0.7837837837837838
10 4 4 19
0.8260869565217391
0.8260869565217391
0.8260869565217391

In [10]:
logreg = LogisticRegression(random_state = 42)
rf = RandomForestClassifier(n_estimators = 100, max_depth = 8, random_state = 42,class_weight = "balanced")


target = ['Survived']
X = df.drop(columns=target)
y = df[target].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


logreg.fit(X_train_scaled, y_train)
rf.fit(X_train, y_train)

logreg_probs = logreg.predict_proba(X_test_scaled)[:, 1]
rf_probs = rf.predict_proba(X_test)[:, 1]

# Simple average of probabilities
avg_probs = (2*logreg_probs + rf_probs) / 3

# Convert to binary prediction
y_pred = (avg_probs >= 0.5).astype(int)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

print(tn, fp, fn, tp)

precision = (tp)/(tp+fp)
recall = (tp)/(tp+fn)
f1 = 2*precision*recall/(precision+recall)

print(precision)
print(recall)
print(f1)

0.7567567567567568
10 4 5 18
0.8181818181818182
0.782608695652174
0.8

In [11]:
#preprocessing test_df

test_df = test_df.drop(["Embarked", "Ticket", "Name", "Cabin"], axis = 1)
# Fill missing numeric columns with median
for col in test_df.select_dtypes(include=['float64', 'int64']).columns:
    test_df[col] = test_df[col].fillna(test_df[col].median())

# Fill missing categorical columns with mode
for col in test_df.select_dtypes(include=['object']).columns:
    test_df[col] = test_df[col].fillna(test_df[col].mode()[0])

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

test_df["Sex"] = le.fit_transform(test_df["Sex"])

In [12]:
test_df

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare
0            892       3    1  34.5      0      0    7.8292
1            893       3    0  47.0      1      0    7.0000
2            894       2    1  62.0      0      0    9.6875
3            895       3    1  27.0      0      0    8.6625
4            896       3    0  22.0      1      1   12.2875
..           ...     ...  ...   ...    ...    ...       ...
413         1305       3    1  27.0      0      0    8.0500
414         1306       1    0  39.0      0      0  108.9000
415         1307       3    1  38.5      0      0    7.2500
416         1308       3    1  27.0      0      0    8.0500
417         1309       3    1  27.0      1      1   22.3583

[418 rows x 7 columns]

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

target = "Survived"
X_train = df.drop(columns=[target])
y_train = df[target]
X_test = test_df.copy()

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

logreg = LogisticRegression(random_state=42)
rf = RandomForestClassifier(n_estimators=100, max_depth=8, random_state=42, class_weight='balanced')

logreg.fit(X_train_scaled, y_train)
rf.fit(X_train_scaled, y_train)

logreg_probs = logreg.predict_proba(X_test_scaled)[:, 1]
rf_probs = rf.predict_proba(X_test_scaled)[:, 1]

# Weighted average of probabilities (you can tune weights)
avg_probs = (2 * logreg_probs + rf_probs) / 3

# Convert to binary predictions
y_pred = (avg_probs >= 0.5).astype(int)

output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': y_pred})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!